@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: var(--font-codec-pro);
  @apply min-h-screen flex flex-col;
}

body main {
  @apply flex-1;
}

@layer components{
    .btn {
      @apply border-2 border-black text-theme-red bg-white min-w-[150px] text-center rounded-xl px-2 py-3 text-xl font-[900];
      letter-spacing: 1px;
    }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .clip-1 {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  }
  .clip-2 {
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  }
}
